input[type="submit"],
input[type="reset"],
button {
  height: 1.5em;                                                // Increases the height of the button to match the form fields
  font-size: 1.5em;                                             // Increases the font-size of the button to make it legible
  line-height: 1;                                               // Centralizes the button text in the middle
  border-radius: $round-radius;                                 // Gives the buttons a nice, rounded curve
  @include transition(background-color 200ms linear);           // Tells the browser to animate the color change when returning from focus states
  &:disabled {
    cursor: not-allowed;
    background-color: $border-disabled-color;
    color: white;
    &:hover {
      background-color: $border-disabled-color;
    }
  }
}

input[type="submit"], button {
  background-color: $border-color;                              // Sets the color of the button to the form default state color
  &:hover {
    background-color: $border-focus-color;                      // Sets the color of the button on hover to the form hover state color
  }
}

input[type="reset"] {
  background-color: $border-invalid-color;                      // Adopts the invalid color scheme for the reset button
}

fieldset {                                                      // Initializes a psuedo-grid environment for buttons
  & button:first-child,
    input[type="submit"]:first-child,
    input[type="reset"]:first-child {
      border-radius: $round-radius 0 0 $round-radius;           // Removes the right border radii on the first element in the grid
  }
  & button:last-child,
    input[type="submit"]:last-child,
    input[type="reset"]:last-child {
      border-radius: 0 $round-radius $round-radius 0;           // Removes the left border radii on the last element in the grid
  }
  & button:not(:first-child):not(:last-child),
    input[type="submit"]:not(:first-child):not(:last-child),
    input[type="reset"]:not(:first-child):not(:last-child) {    // Removes all border radii on any middle elements in the grid
      border-radius: 0;
    }
  & .half {
    width: 50%;                                                 // Sets the element to take up half the parent width
  }
  & .one-third {
    width: 33.33%;                                              // Sets the element to take up a third of the parent width
  }
  & .one-quarter {
    width: 25%;                                                 // Sets the element to take up a quarter of the parent width
  }
  & .two-thirds {
    width: 66.67%;                                              // Sets the element to take up two-thirds of the parent width
  }
  & .three-quarters {
    width: 75%;                                                 // Sets the element to take up three-quarters of the parent width
  }
}
