//// HEX CODES ////
$teal:    #33CCCC;
$salmon:  #FF6666;
$lime:    #CCFF66;

// BACKGROUND //
$color--background__body:       #FFFFFF;
$color--background__selector:   #F4F4F4;
$color--background__menu:       $teal;

// BACKGROUND-COLOR MODIFIERS //
%color--background__body      { background-color: $color--background__body;     }
%color--background__selector  { background-color: $color--background__selector; }
%color--background__menu      { background-color: $color--background__menu;     }

// TEXT //
$color--text__header: #333333;
$color--text__body:   #444444;
$color--text__accent: #888888;

$color--link__normal: $teal;
$color--link__hover:  darken($teal,15%);

// TEXT-COLOR MODIFIERS //
%color--text__header  { color: $color--text__header;  }
%color--text__body    { color: $color--text__body;    }
%color--text__accent  { color: $color--text__accent;  }
%color--link__normal  { color: $color--link__normal;  }
%color--link__hover   { color: $color--link__hover;   }