.font--scale-3 {
  font-size: modular-scale($base-font-size,-3,$scale) !important;
}

.font--scale-2 {
  font-size: modular-scale($base-font-size,-2,$scale) !important;
}

.font--scale-1 {
  font-size: modular-scale($base-font-size,-1,$scale) !important;
}

.font--scale0 {
  font-size: modular-scale($base-font-size,0,$scale) !important;
}

.font--scale1 {
  font-size: modular-scale($base-font-size,1,$scale) !important;
}

.font--scale2 {
  font-size: modular-scale($base-font-size,2,$scale) !important;
}

.font--scale3 {
  font-size: modular-scale($base-font-size,3,$scale) !important;
}

.font--scale4 {
  font-size: modular-scale($base-font-size,4,$scale) !important;
}

.font--scale5 {
  font-size: modular-scale($base-font-size,5,$scale) !important;
}

.font--scale6 {
  font-size: modular-scale($base-font-size,6,$scale) !important;
}