//// Form and Button Settings ////
$border-color: #33CCCC;         // Sets the resting-state color of form borders and button backgrounds
$border-focus-color: #339999;   // Sets the focus-state color of form borders and hover-state button backgrounds
$border-invalid-color: #C44D58; // Sets the invalid-state color of form borders and the reset button background
$border-disabled-color: #888;   // Sets the disabled-state color of form borders and button backgrounds

$border-width: 0.15em;          // Sets the thickness of the bottom border on the form fields
$field-padding: 0.25em;         // Sets the padding to the left and right of the form fields
$round-radius: 0.5em;           // Sets the radii of the buttons and progress bars