img {
  max-width: 100%;
  image-rendering: -moz-crisp-edges;          // Makes images in Firefox look sharp
  image-rendering: -webkit-optimize-contrast; // Optimizes image contrast in Webkit
  image-rendering: crisp-edges;               // Prefix-less standard for sharp images
  vertical-align: middle;                     // Removes the gap between images and the bottom of their containers
}