* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: calc(100%*0.618);
}

.main--video {
  @extend %video--responsiveWrapper;
}

.main--content {
  padding-left: calc(100%/9);
  padding-right: calc(100%/9);

  padding-top: 8.33vh;
}

.main--title {
  @extend %font--size__3;
  margin-top: 0;
  margin-bottom: 3rem;

  text-align: right;
}

.main--description {
  @extend %font--roboto;
  @extend %font--size__2;
}

.main--status {
  @extend %color--text__accent;
  @extend %font--size__2;
  @extend %margin--0;
  letter-spacing: 0;

  text-align: right;
}