* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
  overflow: hidden;
}

body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: row;
}

main {
  width: calc(100%*0.618);
  overflow-y: scroll;
}

.main--video {
  @extend %video--responsiveWrapper;
}

.main--content {
  padding-left: calc(100%/9);
  padding-right: calc(100%/9);

  padding-top: 8.33vh;
}

.main--title {
  @extend %font--size__33;
  margin-top: 0;
  margin-bottom: 3rem;

  text-align: right;
}

.main--description {
  @extend %font--roboto;
  @extend %font--size__16;

  margin-bottom: 11.1vh;
}

.main--status {
  @extend %color--text__accent;
  @extend %font--size__16;
  @extend %margin--0;
  letter-spacing: 0;

  text-align: right;
}