a {
  @include transition(color 150ms ease-in-out);
  @extend %color--link__normal;
  text-decoration: none !important;
  &:hover {
    @include transition(color 150ms ease-in-out);
    @extend %color--link__hover;
  }
}

// Expands the selectable region for in-line links embedded in paragraph text on mobile(touch) devices
@include media($mobile) {
  p a {
    margin: -.5em;
    padding: .5em;
    position: relative;
  }
}