.menu {
  @extend %color--background__menu;

  height     : 100%;
  max-height : 100%;

  // (Screen Width)/(1.618^4)
  width: calc(100%/6.85352607);
}

.menu--logo {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex: 1;

  // (Screen Height)/(9)
  height     : 22.2vh;
  max-height : 22.2vh;

  padding-left  : calc(100%/6);
  padding-right : calc(100%/6);

  & > img {
    display        : block;
    width          : 85%;
    vertical-align : middle;
    margin         : 0 auto;
  }
}

.menu > li {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex: 1;

  @extend %font--miso;
  @extend %font--size__41;

  list-style: none;

  text-transform: uppercase;

  height     : 11.1vh;
  max-height : 11.1vh;

  border-bottom: 22.25px solid $teal;

  & a {
    width: 100%;
    color: #fff;

    padding-left  : calc(100%/6);
    padding-right : calc(100%/6);

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex: 1;
    justify-content: center;
    flex-direction: column;

    @include transition(all 150ms ease-in-out);

    &:hover {
      @include transition(all 150ms ease-in-out);
      @extend %color--background__selector;
      @extend %color--text__accent;
    }
  }

  &.active {
    & > a {
      @extend %color--text__accent;
      @extend %color--background__selector;
    }
  }
}