.menu {
  @extend %color--background__menu;

  height: 100%;
  max-height: 100%;

  // (Screen Width)/(1.618^4)
  width: calc(100%/6.85352607);
}

.menu--logo {
  display: flex;

  // (Screen Height)/(9)
  height: 22.2vh;
  max-height: 22.2vh;

  padding-left: calc(100%/6);
  padding-right: calc(100%/6);

  & > img {
    display: block;
    width: 85%;
    vertical-align: middle;
    margin: 0 auto;
  }
}

.menu > li {
  display: flex;

  @extend %font--miso;
  @extend %font--size__41;

  list-style: none;

  text-transform: uppercase;

  height: 11.1vh;
  max-height: 11.1vh;

  border-bottom: 22.25px solid $teal;

  & a {
    width: 100%;
    color: #fff;

    padding-left: calc(100%/6);
    padding-right: calc(100%/6);

    // 0.75*(Screen Height)/9
    line-height: 8.33vh;
  }

  &.active {
    & > a {
      @extend %color--text__accent;
      @extend %color--background__selector;
    }
  }
}