.selector--parent {
  @extend %color--background__selector;
  overflow-y: scroll;

  height     : 100%;
  max-height : 100%;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction  : column;
  justify-content : center;
  align-content   : stretch;
  align-items     : flex-start;

  // (Screen Width)/(1.618^2) - Menu Block Width
  width: calc(100%/2.617924 - 100%/6.85352607);
}

.selector--block,.selector--header {
  height     : 11.1vh;
  max-height : 11.1vh;

  padding-left  : calc(100%/11.33333);
  padding-right : calc(100%/11.33333);

  width: 100%;
}

.selector--block {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex: 1;

  cursor: pointer;
  @include transition(background-color 150ms ease-in-out);
  &:hover {
    @include transition(background-color 150ms ease-in-out);
    @extend %color--background__body;
  }
}

.selector--header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex: 1;
  @include transition(background-color 150ms ease-in-out);

  &:hover {
    @include transition(background-color 150ms ease-in-out);
    @extend %color--background__body;
  }
}

.selector--block.active {
  @extend %color--background__body;
  cursor: default;
}

.selector--block__content, .selector--header__content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.selector--block__title,.selector--header__title {
  @extend %font--size__33;
  @extend %margin--0;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selector--header__category {
  @extend %font--size__20;
  @extend %margin--0;

  text-transform: uppercase;
  letter-spacing: 0;
}

.selector--block__author {
  @extend %font--ptsans;
  @extend %font--size__16;
  @extend %color--text__accent;
  @extend %show-computer;

  margin-top: 0.25rem;
  margin-bottom: 0.5rem;

  & a {
    text-transform: capitalize;
  }
}