// UNIVERSAL //
html {
  @extend %color--text__body;

  // Force this down to 10px so all our rem declarations below are straightforward multiples of 10
  @include media($computer)  { font-size: 10px;  }
  @include media($tablet)    { font-size: 9px;   }
  @include media($mobile)    { font-size: 8px;   }
}

::-moz-selection {
    background: $color--background__selector;
    text-shadow: none;
}

::selection {
    background: $color--background__selector;
    text-shadow: none;
}

// HEADINGS //
h1,h2,h3,h4,h5,h6 {
  @extend %color--text__header;
  @extend %font--miso;

  // Standardize font-sizes for all heading elements so we can assign semantic meaning
  // without worrying about font-size changes. Font-size should be assigned separately.
  @include font-size(1);
  line-height:  1;
}

// PARAGRAPH //
p {
  @extend %color--text__body;
  @extend %font--roboto;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

// LISTS //
ul, ol {
  @extend %color--text__body;
  @extend %font--roboto;

  margin: 0;
  padding: 0;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}


// CODE AND PREFORMATTED TEXT //
pre, code {
  @extend %color--text__body;
  @extend %font--sourcecodepro;

  display: block;
  overflow-x: scroll;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

code { white-space: nowrap; }

// BLOCKQUOTE //

blockquote {
  @extend %color--text__header;
  @extend %font--roboto;

  margin: 0;
}

// FANCY TYPE //
%font--light    { font-weight: 100; }
%font--regular  { font-weight: 400; }

// ALIGNMENT //
%text--left   { text-align: left; }
%text--center { text-align: center; }
%text--right  { text-align: right; }

// FONT SIZES //
// Generated from http://modularscale.com/scale/?px1=16&px2=33&ra1=1.618&ra2=0
%font--size__07  { @include font-size(0.7791); }
%font--size__09  { @include font-size(0.9889); }
%font--size__12  { @include font-size(1.2606); }
%font--size__16  { @include font-size(1.6000); }
%font--size__20  { @include font-size(2.0396); }
%font--size__25  { @include font-size(2.5888); }
%font--size__33  { @include font-size(3.3000); }
%font--size__41  { @include font-size(4.1887); }
%font--size__53  { @include font-size(5.3394); }
%font--size__67  { @include font-size(6.7773); }
%font--size__86  { @include font-size(8.6391); }
%font--size__109 { @include font-size(10.9657); }
%font--size__139 { @include font-size(13.9781); }