// UNIVERSAL //
html {
  @extend %color--text__body;

  // Force this down to 10px so all our rem declarations below are straightforward multiples of 10
  @include media($computer)  { font-size: 10px;  }
  @include media($tablet)   { font-size: 9px;   }
  @include media($mobile)   { font-size: 8px;   }
}

::-moz-selection {
    background: $color--background__selector;
    text-shadow: none;
}

::selection {
    background: $color--background__selector;
    text-shadow: none;
}

// HEADINGS //
h1,h2,h3,h4,h5,h6 {
  @extend %color--text__header;
  @extend %font--miso;

  // Standardize font-sizes for all heading elements so we can assign semantic meaning
  // without worrying about font-size changes. Font-size should be assigned separately.
  font-size:    1rem;
  line-height:  1;
}

// PARAGRAPH //
p {
  @extend %color--text__body;
  @extend %font--roboto;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

// LISTS //
ul, ol {
  @extend %color--text__body;
  @extend %font--roboto;

  margin: 0;
  padding: 0;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}


// CODE AND PREFORMATTED TEXT //
pre, code {
  @extend %color--text__body;
  @extend %font--sourcecodepro;

  display: block;
  overflow-x: scroll;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

code { white-space: nowrap; }

// BLOCKQUOTE //

blockquote {
  @extend %color--text__header;
  @extend %font--roboto;

  margin: 0;
}

// FANCY TYPE //
%font--light    { font-weight: 100; }
%font--regular  { font-weight: 400; }

// ALIGNMENT //
%text--left   { text-align: left; }
%text--center { text-align: center; }
%text--right  { text-align: right; }

// FONT SIZES //
%font--size__1 { font-size: 1rem; }
%font--size__2 { font-size: 1.5rem; }
%font--size__3 { font-size: 3.3rem; }
%font--size__4 { font-size: 4rem; }
%font--size__5 { font-size: 5rem; }
%font--size__6 { font-size: 6rem; }
%font--size__7 { font-size: 7rem; }
%font--size__8 { font-size: 8rem; }
%font--size__9 { font-size: 9rem; }